:root {
    --text-color-negro:#252B42;
    --color-plomo: #737373;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    height: 0;
}
nav {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    height: 100px;
    padding-top: 0;
    padding-left: 100px;
}
nav>div:nth-child(1){
    display: flex;
    align-items: center;
}
nav>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: var(--text-color-negro);
    font-weight: 600;
    margin-right: 15px;
    margin-left: 20px;
}
.banner{
    margin-top: 100px;
    margin-left: 100px;
    height: 700px;
}
header{
    background: url(/PRACTICA6/imagenes/imagen1.svg);
    background-size: cover;
    height: 800px;
}
.banner> div:nth-child(1){
    color: var(--text-color-negro);
    font-weight: bold;
    font-size:xx-large;
}
.banner> div:nth-child(2){
    color: var(--color-plomo);
    margin-top: 50px;
    font-size: large;
}
.banner> div:nth-child(3){
    color: var(--color-plomo);
    margin-top: 50px;
}
.banner> div:nth-child(3) button:nth-child(1){
    border: 1px solid #FF7B47;
    color: white;
    background-color: #FF7B47;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 20px; 
}
.banner> div:nth-child(3) button:nth-child(2){
    border: 1px solid var(--text-color-negro);
    color: #0D5C63;
    background-color: transparent;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 20px; 
}
header{
    position: relative;
}

#cuadritos{
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    column-gap: 50px; 
    height: 100px;  
    margin: 0px 200px;
    position: absolute;
    bottom: 0;
}
#cuadritos > div:nth-child(1){
    background-color: white;
    padding: 40px 40px;
    
}
#cuadritos > div:nth-child(2){
    background-color: white;
    padding: 40px 40px;
    
}
#cuadritos > div:nth-child(3){
    background-color: #0D5C63;
    padding: 40px 40px;
    color: white;    
}
.hola{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 200px;
}
.hola > h1{
    font-size: xx-large;
}
.hola > p{
    display: flex;
    text-align: center;
}
.icons{
    height: 300px;
}
.icons > .items2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    display: flex;
    justify-content: space-evenly;

}
.icons > .items2 > div:nth-child(1){
    background-color: #FFFFFF;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons > .items2 > div:nth-child(2){
    background-color: #FFFFFF;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons > .items2 > div:nth-child(3){
    background-color: #FFFFFF;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons > .items2 > div:nth-child(4){
    background-color: #FFFFFF;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letritas>.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    margin-top: 0;
}
.card{
    height: 300px;
}
.card>.dentro{  
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    display: flex;
    justify-content: space-evenly;
}
.card > .dentro >div:nth-child(1){
    background-color: #FFFFFF;
}
.card > .dentro >div:nth-child(2){
    background-color: #FFFFFF;

}
.card > .dentro >div:nth-child(3){
    background-color: #FFFFFF;

}
.card > .dentro >div:nth-child(4){
    background-color: #FFFFFF;
}
.card > .dentro > div > .texto{
    color: var(--color-plomo);
    margin: 20px 30px;
}
.Consulting{
    margin-top: 100PX;
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.Consulting>.textito{
    top: 0;
    margin-left: 100px;
}
.Consulting>div:nth-child(2){
    margin-left: 400px;
    margin-right: 100px;
    margin-top: 30px;
}
.Consulting>div:nth-child(2) > button{
    border: 1px solid #FF7B47;
    color: white;
    background-color: #FF7B47;
    padding: 20px 40px;
    font-size: 20px; 
}